<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Pet</a>
<!--<div th:each="anAnimal:${animals}">
    <span th:text="${anAnimal.type}"></span>
    <span th:text="${anAnimal.name}"></span>
    <span th:text="${anAnimal.description}"></span>
    <img th:src="${anAnimal.image}" alt="${anAnimal.type}+' '+${anAnimal.name}">
    <span>
        <a th:href="@{/update/{id}(id=${anAnimal.id})}">Update</a>
    </span>
</div>-->

<div th:each="eachAnimal:${animals}">

    <p th:text="${eachAnimal.type}"></p>
    <p th:text="${eachAnimal.name}"></p>
    <p th:text="${eachAnimal.description}"></p>
    <!--Add alt statement in case image inserted isn't actually an image.-->
    <img th:src="${eachAnimal.image}" alt="${eachAnimal.type}+' '+${eachAnimal.name}">

    <!--if else statement used to determine if cat is either lost or found-->
    <div th:if="${eachAnimal.lost}">
        <div th:text="'Lost'"></div>
    </div>
    <div th:unless="${eachAnimal.found}">
        <div th:text="'Found'"></div>
    </div>
<!--    <p th:text="${eachAnimal.lost}?'Lost'"></p>
    <p th:text="${eachAnimal.found}?'Found'"></p>-->

    <a th:href="@{/update/{id}(id=${eachAnimal.id})}">Update Pet Details</a>
    <a th:text="${eachAnimal.lost}?'Report Found':'Report Lost'" th:href="@{/changestatus/{id}(id=${eachAnimal.id})}"></a>

</div>
</body>
</html>